:root {
  --bg-color: #1a2c38;
  --text-color: #fff;
  --nav-bg: #1a2c38;
  --aside-bg: #0b1b26;
  --main-section-bg: #1f3341;
  --button-bg: #1475e1;
  --button-hover: #1160ba;
  --sports-bg: #2f4553;
}

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'ProximaNova';
  src: url('assets/fonts/Fontspring-DEMO-proximanova-black.otf') format('opentype');
  font-weight: 600; 
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'ProximaNova', sans-serif;
  overflow-x: hidden;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  background-color: var(--nav-bg);
  box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  justify-content: space-between;
}

.svg-icon {
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: #b1bad3;
  flex-shrink: 0;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: -98px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.svg-icon:hover,
.svg-icon.active {
  color: white;
}

#netslogo {
  width: 65px;
  cursor: pointer;
  position: relative;
  left: -450px;
  transition: 0.2s ease-in-out;
  user-select: none;
}

.sign-buttons {
  display: flex;
  gap: 15px;
}

.sign-buttons button {
  color: white;
  border: none;
  font-size: 0.825rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  position: relative;
  left: 25px;
}

.login-button {
  background-color: transparent;
}

.register-button {
  background-color: var(--button-bg);
  height: 45px;
  width: 92px;
  border-radius: 3px;
}

.register-button:hover {
  background-color: var(--button-hover);
}

.aside-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  background-color: var(--aside-bg);
  transition: 0.2s ease-in-out;
}

.aside-container.expanded {
  width: 250px;
}

.asidenav-container {
  position: relative;
  top: -262px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.sportsgamble-container {
  background-color: var(--sports-bg);
  border-radius: 5px;
}

.sportsgamble-container a {
  text-decoration: none;
}

#casinohome,
#basketball {
  background-color: var(--sports-bg);
  width: 45px;
  height: 45px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#casinohome::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 17, 0.498);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

#basketball::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 119, 0, 0.645);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

#casinohome:hover::after,
#basketball:hover::after {
  opacity: 1;
}

#casinohome.expanded,
#basketball.expanded {
  width: 80px;
  height: 40px;
  position: relative;
  left: 25px;
  top: -95px;
}

.label {
  color: white;
  font-size: 0.82rem;
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 12px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-10px);
}

#casinohome.expanded .label,
#basketball.expanded .label {
  opacity: 1;
  transform: translateX(0);
}

.main-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-section-bg);
  width: calc(100% - 60px);
  height: 100vh;
  padding: 80px;
  margin-left: 60px;
  box-sizing: border-box;
}

.introduction {
  margin-left: -830px;
  margin-top: -380px;
  transition: 0.2s ease-in-out;
}

.introduction.shifted {
  margin-left: -580px; 
}


.main-header {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: 700;
  max-width: 600px;
}

.main-register-button {
  background-color: var(--button-bg);
  color: white;
  height: 45px;
  width: 92px;
  border-radius: 3px;
  border: none;
  font-size: 0.825rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-bottom: 15px;
}

.main-register-button:hover {
  background-color: var(--button-hover);
}

.other-signup {
  color: #b1bad3;
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.sign-up-methods {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.signup-method {
  background-color: #2f4553;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-method:hover {
  background-color: #557086;
}


.box-label {
  position: relative;
  left: 70px;
  top: -18px;
}

.box-label svg {
  position: relative;
  left: -130px;
  top: 30px;
}


.other-sites {
  margin-left: 500px;
  margin-top: -240px;
}

.other-sites-boxes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.other-sites-box {
  color: white;
  text-decoration: none;
  background-color: #2f4553;
  width: 350px;
  height: 250px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.2s ease-in-out;
}

.other-sites-box:hover {
  transform: translateY(-10px);
}


.casinopic {
  width: 100%;
  height: 210px;
  border-radius: 6px;
  margin-top: 0px;
}

.othersites-header {
  margin-top: 12px;
  margin-left: -200px;
  font-size: .85rem;
  font-weight: 600;
}







.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; 
  color: #557086;
}

.input-svg {
  width: 20px;
  position: relative;
  left: -990px;
  top: 2px;
}

.search-input {
  text-align: left;
  width: 100%;
  max-width: 950px;
  padding: 10px;
  border-radius: 50px;
  background-color: #0f212e;
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .12);
  border: 2px solid #2f4553;
  outline: none;
  padding-left: 40px;
  margin-left: 15px;
  transition: 0.2s ease-in-out;
}

.search-input:hover, .search-input:focus {
  border: 2px solid #557086;
}

.search-input::placeholder {
  font-weight: 600;
}


.catalog-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.catalog {
  display: flex;
  align-items: center;
  background-color: #0f212e;
  height: 50px;
  padding: 0 5px;
  border-radius: 50px;
  overflow-x: auto;
  white-space: nowrap;
  gap: 15px;
  margin-top: -50px;
}

.catalog-class {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 15px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 50px;
  transition: background-color 0.2s ease;
}

.catalog-class:hover,
.catalog-class.active {
  background-color: #2f4553;
  border-radius: 30px;
}

.catalog-svg {
  width: 17px;
  height: 17px;
}


.origianls-games {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.originals-header {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  right: 425px;
  top: 30px;
  gap: 8px;
  font-size: 1rem;
  font-weight: 600;
}

.originals-svg {
  width: 18px;
  color: #b1bad3;
  transition: 0.2s ease-in-out;
}

.originals-svg:hover {
  color: white;
}

.origianls-games {
  margin-top: 50px;
  margin-left: 228px;
}

.origianls-game img {
  border-radius: 8px;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.origianls-game img:hover {
  transform: translateY(-10px);
}





/* ----- MINES SPIL ----- */

.mines-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mines-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.mines-board-bg {
  position: relative;
  background-color: transparent;
  border-radius: 12px;
  width: 100%;
  max-width: 1200px;
  margin-left: 150px;
  margin-top: 30px;
}

.info-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
  background-color: #0f212e;
  border-radius: 12px;
  z-index: 0;
}

.info-bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 650px;
  background-color: #213743;
  border-radius: 12px 0 0 12px;
  z-index: 2;
}

.mines-board-bg > *:not(.info-bg) {
  position: relative;
  z-index: 1;
}

.startbuttons {
  position: relative;
  top: -630px;
  left: 15px;
  background-color: #0f212e;
  padding: 5px;
  border-radius: 50px;
  display: flex;
  gap: 5px;
  width: 260px;
}

.startbuttons button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 13px 0;
  width: 250px;
  border-radius: 50px;
  font-size: 0.845rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.startbuttons button:hover {
  background-color: #2f4553;
}

.startbuttons button:focus {
  background-color: #2f4553;
}

#betAmountlabel {
  position: relative;
  top: -615px;
  left: 13px;
  color: #b1bad3;
  font-size: .85rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  vertical-align: baseline;
  user-select: none;
}

#betAmount {
  position: relative;
  top: -585px;
  left: -70px;
  padding: .5rem;
  background-color: #0f212e;
  border: 2px solid #2f4553;
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .12);
  border-radius: .25rem;
  letter-spacing: 0;
  font-weight: 600;
  -webkit-appearance: none;
  appearance: none;
  font-size: .855rem;
  font-family: "Roboto", sans-serif;
  outline: none;
  transition: 0.1s ease-in-out;
}

#betAmount::placeholder {
  color: white;
}

#betAmount:hover {
  border: 2px solid #557086;
}

#betAmount:focus {
  border: 2px solid #557086;
}

#numMineslabel {
  position: relative;
  top: -545px;
  left: -250px;
  color: #b1bad3;
  font-size: .85rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  vertical-align: baseline;
  user-select: none;
}

.numMinesdrop {
  position: relative;
  top: -515px;
  left: -295px;
  width: 280px;
  padding: .5rem;
  background-color: #0f212e;
  border: 2px solid #2f4553;
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .12);
  border-radius: .25rem;
  letter-spacing: 0;
  font-weight: 600;
  -webkit-appearance: none;
  appearance: none;
  font-size: .855rem;
  font-family: "Roboto", sans-serif;
  outline: none;
  transition: 0.1s ease-in-out;
}

.numMinesdrop:hover {
  border: 2px solid #557086;
}

.betButton {
  position: relative;
  top: -455px;
  left: -579px;
  background-color: #00e701;
  border-radius: 5px;
  width: 280px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.mines-board {
  display: grid;
  grid-template-columns: repeat(5, 110px);
  gap: 15px;
  justify-content: center;
  margin-left: 300px;
  margin-top: -735px;
}

.mines-cell {
  width: 110px;
  height: 110px;
  background-color: #2f4553;
  box-shadow: 0 0.3em #213743;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background 0.2s, transform 0.2s;
  color: #fff;
}

.mines-cell:hover {
  background-color: #557086;
  transform: translateY(-2.2px);
}

.mines-cell.revealed {
  background-color: #4c637a;
  cursor: default;
}

.mines-cell.mine {
  background-color: #d9534f;
}

.mines-cell.safe {
  background-color: #5cb85c;
}

.mines-cell.disabled {
  pointer-events: none;
}